{# templates/calendar/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
        <div class="module">
                <h1>Selectionnez un appartement:</h1>
                <ul>
                    {% for apartment in apartments %}
                        <li>
                            <a target="_blank" href="{{ path('app_calendar_id', {'apartmentId': apartment.id}) }}">{{ apartment.titre }}</a>
                        </li>
                    {% endfor %}
                </ul>
        </div>
{% endblock %}
