{% extends 'base.html.twig' %}

{% block body %}
    <div id="calendar" data-availabilities="{{ availabilities|serialize }}"></div>
{% block javascripts %}
    {{ encore_entry_script_tags('calendar') }}
{% endblock %}
{% endblock %}