{% extends 'base.html.twig' %}

{% block title %}Hello SwiperController!{% endblock %}

{% block body %}
    <div class="container-list">
                <div id="search">
                    <p>Que recherchez-vous ?</p>
                {% for apartment in apartments %}
                    <ul>
                        <li><a target="_blank" href="{{ path('app_swiper_id', {'uniqueId': apartment.uniqueId}) }}">{{ apartment.titre }}</a></li>
                    </ul>
                {% endfor %}
                </div>
    </div>
{% endblock %}
