{% extends 'base.html.twig' %}

{% block title %}Hello SwiperController!{% endblock %}

{% block body %}
    <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">Bien 1</div>
            {% for picture in pictures %}
                {% for imageUrl in picture.imageFiles %}
                    {% if imageUrl is iterable %}
                        {% for url in imageUrl %}
                            <img src="{{ asset(url) }}" alt="Image">
                        {% endfor %}
                    {% else %}
                        <img src="{{ asset(imageUrl) }}" alt="Image">
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <div class="swiper-slide">Slide 2</div>
            <div class="swiper-slide">Slide 3</div>
            ...
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
    </div>
{% endblock %}
