html {
  scroll-behavior: smooth;
}

body {
  background: #262626;
  color: white;
  font-family: "Ephesis", cursive;
  min-height: 100vh !important;
}

a {
  color: white;
  text-decoration: none;
}

img {
  pointer-events: none;
  user-select: none;
  width: 100%;
  height: 100%;
  max-width: 1024px !important;
  max-height: 1024px !important;
}