@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
h3 {
  display: flex;
  justify-content: center;
  font-family: "Ephesis", cursive;
  margin: 0 auto;
  font-size: 3rem;
}

.swiper {
  max-width: 1024px;
  max-height: 1024px;
}