picture {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
  opacity: 0;
  animation: appear .3s .5s forwards ease-in-out;

  img {
    border-radius: 7px;
  }
}

#catch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  margin-top: 50px;
  overflow: hidden;

  #catch {
    transform: translateY(150px);
    animation: appear-from-bottom .5s .5s forwards ease-in-out;
  }
}